@import url('https://fonts.googleapis.com/css?family=Alegreya|Bungee+Outline|Comfortaa&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

#main {
    background:#F0ECEB ;
}
#header {
    text-align: center;
    padding: 2rem;
}

#title {
    font-family: 'Bungee Outline', cursive;
    font-size: 4rem;
}

#tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
}

#main-img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2rem;
}

#img-caption {
    text-align: center;
    padding: 1rem;
    
}

#timeline {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 25%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#timeline h2 {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

#timeline ul li {
    padding: 0.6rem;
}

#final {
    text-align: center;
}